<link rel="stylesheet" href="{$config['view_public']}css/district/dist_top.css">
<div id="place_top">
    <!--1-->
    <div class="plcTopBar w980 clearfix">
        <div id="plcName">
            <p><a href="#">Cinque terre</a></p>
            <p><a href="#">五渔村</a></p>
        </div>
        <div id="plcMeta">
            <span class="mainc">12435</span>人去过这里, <span class="mainc">958</span>条目的地点评
        </div>
    </div>
    <!--1/-->
    <!--2-->
    <div class="plcTopNav w980 clearfix">
        <ul class="L clearfix">
            <li><a href="#">城市概括</a></li>
            <li><a href="#">热门景点</a></li>
            <li><a href="#">当地美食</a></li>
            <li><a href="#">特惠酒店</a></li>
            <li><a href="#">旅游攻略</a></li>
            <li><a href="#">推荐路线</a></li>
            <li><a href="#">结伴出行</a></li>
            <li><a href="#">地图</a></li>
        </ul>
        <div class="R">
            <input id="search" class="search1" type="text">
            <a class="icon_search"><i class="fa fa-search"></i></a>
        </div>
    </div>
    <!--2/-->
</div>
<script src="Public/js/search.js"></script>