<include file="Public/header"/>
<link rel="stylesheet" href="{$config['view_public']}css/community/community_bk.css">
<script type="text/javascript">$("title").html('欧洲板块');</script>
</head>
<body>
<include file="Public/top_2"/>
<div class="jbtx">
    <!--顶部滑动图片 start-->
    <div class="T_img">
        <img src="{$config['view_public']}img/tx.jpeg" width="100%" height="320px">
    </div>
    <!--顶部滑动图片 end-->
    <!--顶部标题区 start-->
    <div class="bkTopBar w980 clearfix">
        <div id="bkName">
            <p><a href="#">Cinque terre</a></p>
            <p><a href="#">五渔村</a></p>
        </div>
        <div id="buttons">
            <div class="btn_new">
                <span>发新帖&nbsp;&nbsp;<i class="fa fa-caret-down"></i></span>
                <ul hidden>
                    <li><a href="#">游记</a></li>
                    <li><a href="#">攻略</a></li>
                    <li><a href="#">结伴</a></li>
                </ul>
            </div>
            <a class="btn_q" href="#">提问题</a>
        </div>
    </div>
    <!--顶部标题区 end-->
    <!--主体区 start-->
    <div class="C">
        <div class="w680">
            <!--1-->
            <ul class="Nav clearfix">
                <li class="current" data-i="1"><a>游记攻略</a></li>
                <li data-i="2"><a>结伴同游</a></li>
                <li data-i="3"><a>问题列表</a></li>
            </ul>
            <!--1/-->
            <!--2-->
            <ul id="yjgl" class="commentList">
                <for star="1" end="5">
                    <li class="clearfix">
                        <a href="#"><img class="tx" src="{$config['view_public']}img/tx.jpeg" width="60px"></a>
                        <div style="width: 430px;float: left;">
                            <div class="comment_mate" style="padding-right: 10px;">
                                <a href="#">浅浅快跑</a>&nbsp;在&nbsp;<a href="#">挪威</a>&nbsp;发布的游记
                                <span><i class="fa fa-thumbs-up"></i>56人赞</span>
                                <span>最后回复于1天前</span>
                            </div>
                            <h3 style="padding-top: 10px;font-size: 16px;"><a href="#">关于旅行摄影分享（前期准备，人文，风光，星空，后期处理，延时摄影等）持续更新</a></h3>
                            <div class="comment_content">
                                <p>皇后镇花园处于皇后镇市中心的对面，从湖的这边遥望着皇后镇的那些酒店，住宅，半山坡上的房子，会有不一样的感受。每个季节花园里的花儿都会争相开放，春季的郁金香</p>
                            </div>
                        </div>
                        <div class="img" style="float: right;margin-left: 0px;padding-top: 5px;">
                            <a href="#"><img src="{$config['view_public']}img/tx.jpeg" width="168px" height="112px"></a>
                        </div>
                    </li>
                </for>
            </ul>
            <!--2/-->
            <!--2.2/-->
            <ul id="jbty" class="commentList" hidden>
                <for star="1" end="3">
                <li class="clearfix">
                    <a href="#"><img class="tx" src="{$config['view_public']}img/tx.jpeg" width="60px"></a>
                    <div style="width: 430px;float: left;">
                        <div class="comment_mate" style="padding-right: 10px;">
                            <a href="#">浅浅快跑</a>
                            <span>56人回复</span>
                            <span>最后回复于1天前</span>
                        </div>
                        <h3 style="padding-top: 10px;font-size: 16px;"><a href="#">高加索三国 6月结伴游</a></h3>
                        <div class="ty_info clearfix" style="">
                            <div style="">
                                <p style="color: #999;">出发&nbsp;<span style="color: #444;">2017-04-03</span></p>
                                <p style="color: #999;">返程&nbsp;<span style="color: #444;">2017-04-03</span></p>
                            </div>
                            <div style="float: left;padding-left: 10px;"><br />
                                <span style="">曼谷、清迈</span>
                            </div>
                        </div>
                    </div>
                    <div class="img" style="">
                        <a href="#"><img src="{$config['view_public']}img/tx.jpeg" width="168px" height="112px"></a>
                    </div>
                </li>
                </for>
            </ul>
            <!--2.2/-->
            <!--2.3-->
            <ul id="wtlb" class="commentList" hidden>
            <for star="1" end="3">
            <li class="clearfix">
                    <a href="#"><img class="tx" src="{$config['view_public']}img/tx.jpeg" width="60px"></a>
                    <div style="width: 430px;float: left;">
                        <div class="comment_mate" style="padding-right: 10px;">
                            <a href="#">浅浅快跑</a>
                            <span>56人赞</span>
                            <span>最后回复于1天前</span>
                        </div>
                        <h3 style="padding-top: 10px;font-size: 16px;"><a href="#">高加索三国 6月结伴游</a></h3>
                    </div>
                    <div class="btnB" style="">
                        <span>9个答案</span>
                        <a href="#">回答</a>
                    </div>
                </li>
                </for>
            </ul>
            <!--2.3/-->
        </div>
    </div>
    <!--主体区 end-->
    <include file="Public/footer"/>
<script>
    $(function() {
        //发新帖
        $(".btn_new").hover(function(){
            $(this).find("ul").show();
        },function(){
            $(this).find("ul").hide();
        });
        //左侧顶部导航点击
        $(".Nav>li").click(function () {
            $(".Nav>li").removeClass();
            $(this).addClass("current");
            var i = $(this).attr("data-i");
            if(i==1){
                $("#yjgl").show();
                $("#jbty").hide();
                $("#wtlb").hide();
            }else if(i==2){
                $("#yjgl").hide();
                $("#jbty").show();
                $("#wtlb").hide();
            }else if(i==3){
                $("#yjgl").hide();
                $("#jbty").hide();
                $("#wtlb").show();
            }
        });
    });
</script>
</body>
</html>