<include file="Public/header"/>
<link rel="stylesheet" href="Public/lib/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="{$config['view_public']}css/index/index.css">
<script type="text/javascript">$("title").html('首页');</script>
</head>
<body>
<include file="Public/top"/>
<include file="Public/index_top"/>

<div class="C w1080">
    <!--广告区域 start-->
    <ul class="adList clearfix">
        <li><a><img src="{$config['view_public']}img/tx.jpeg" width="250px" height="120px"></a></li>
        <li><a><img src="{$config['view_public']}img/tx.jpeg" width="250px" height="120px"></a></li>
        <li><a><img src="{$config['view_public']}img/tx.jpeg" width="250px" height="120px"></a></li>
        <li><a><img src="{$config['view_public']}img/tx.jpeg" width="250px" height="120px"></a></li>
    </ul>
    <!--广告区域 end-->
    <!--主要内容 start-->
    <div class="CC clearfix">
        <div class="l">
            <div class="btnB">
                <a href="#">付费会员</a>
                <a href="#">旅游定制</a>
            </div>
            <ul class="list1">
                <li>
                    <h3>出境长线</h3>
                    <div>热门景点玩法</div>
                    <ul>
                        <li><a>美国</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="r">111

        </div>
    </div>
    <!--主要内容 end-->
</div>



<include file="Public/footer"/>
</body>
</html>