<link rel="stylesheet" href="{$config['view_public']}css/index/user_wo.css">
<script type="text/javascript">$("title").html('TA的窝');</script>
<!--682/4=170...2 130+20+20=170 680-40=640-140-->
    <div id="wo">
        <ul class="wo_nav clearfix">
            <li>
                <a href="#">
                    <i></i>
                    <span>写游记</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i></i>
                    <span>问达人</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i></i>
                    <span>添加足迹</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i></i>
                    <span>发布结伴</span>
                </a>
            </li>
        </ul>
        <ul class="wo_log">
            <li class="clearfix">
                <div class="log_info"><a href="#">小明</a> 顶了 <a href="#">Hanson</a> 的游记 <a href="#">新人游记：《孤独的美食家》实地巡礼，第三次独第三次独</a></div>
                <div class="log_time">2017-05-06 11:22:33</div>
            </li>
            <li class="clearfix">
                <div class="log_info"><a href="#">小明</a> 收藏了 <a href="#">Hanson</a> 的游记 <a href="#">新人游记：《孤独的美食家》实地巡礼，第三次</a></div>
                <div class="log_time">2017-05-06 11:22:33</div>
            </li>
            <li class="clearfix">
                <div class="log_info"><a href="#">小明</a> 顶了 <a href="#">Hanson</a> 的游记 <a href="#">新人游记：《孤独的美食家》实地巡礼，第三次独第三次独</a></div>
                <div class="log_time">2017-05-06 11:22:33</div>
            </li>
            <li class="clearfix">
                <div class="log_info"><a href="#">小明</a> 收藏了 <a href="#">Hanson</a> 的游记 <a href="#">新人游记：《孤独的美食家》实地巡礼，第三次</a></div>
                <div class="log_time">2017-05-06 11:22:33</div>
            </li>
            <li class="clearfix">
                <div class="log_info"><a href="#">小明</a> 顶了 <a href="#">Hanson</a> 的游记 <a href="#">新人游记：《孤独的美食家》实地巡礼，第三次独第三次独</a></div>
                <div class="log_time">2017-05-06 11:22:33</div>
            </li>
            <li class="clearfix">
                <div class="log_info"><a href="#">小明</a> 收藏了 <a href="#">Hanson</a> 的游记 <a href="#">新人游记：《孤独的美食家》实地巡礼，第三次</a></div>
                <div class="log_time">2017-05-06 11:22:33</div>
            </li>
            <li class="clearfix">
                <div class="log_info"><a href="#">小明</a> 顶了 <a href="#">Hanson</a> 的游记 <a href="#">新人游记：《孤独的美食家》实地巡礼，第三次独第三次独</a></div>
                <div class="log_time">2017-05-06 11:22:33</div>
            </li>

        </ul>
        <ul class="wo_yj">
            <li>
                <div class="yj_img"><a><img src="{$config['view_public']}img/yj_img.jpeg"></a></div>
                <div class="yj_info">
                    <div class="yj_title clearfix">
                        <div class="zan"><i class="fa fa-thumbs-o-up" style="font-size: 30px;"></i><p>999</p></div>
                        <div class="title_info">
                            <h3><a href="#">C9计划·秋酷大趴 │ 一次特殊的外太空旅行一次特殊的外太空旅行</a></h3>
                            <div><span>2017-05-06 13:06:09</span><span style="float: right;">预览&nbsp;156</span></div>
                        </div>
                    </div>
                    <div class="yj_word">
                        一个月前，适逢植树节期间，蚂蜂窝携手银杏基金会共同举办公益活动【梭梭行动】，讲述了一个保卫家乡，植树十年的当代苏武老马哥的故事，号召靠谱有爱的蜂蜂们加入到植树防沙，捍卫民勤的环保事业中。回顾一下活动时的热烈场景吧
                    </div>
                </div>
            </li>
            <li>
                <div class="yj_img"><a><img src="{$config['view_public']}img/yj_img.jpeg"></a></div>
                <div class="yj_info">
                    <div class="yj_title clearfix">
                        <div class="zan"><i class="fa fa-thumbs-o-up" style="font-size: 30px;"></i><p>999</p></div>
                        <div class="title_info">
                            <h3><a href="#">C9计划·秋酷大趴 │ 一次特殊的外太空旅行一次特殊的外太空旅行</a></h3>
                            <div><span>2017-05-06 13:06:09</span><span style="float: right;">预览&nbsp;156</span></div>
                        </div>
                    </div>
                    <div class="yj_word">
                        一个月前，适逢植树节期间，蚂蜂窝携手银杏基金会共同举办公益活动【梭梭行动】，讲述了一个保卫家乡，植树十年的当代苏武老马哥的故事，号召靠谱有爱的蜂蜂们加入到植树防沙，捍卫民勤的环保事业中。回顾一下活动时的热烈场景吧
                    </div>
                </div>
            </li>
            <li>
                <div class="yj_img"><a><img src="{$config['view_public']}img/yj_img.jpeg"></a></div>
                <div class="yj_info">
                    <div class="yj_title clearfix">
                        <div class="zan"><i class="fa fa-thumbs-o-up" style="font-size: 30px;"></i><p>999</p></div>
                        <div class="title_info">
                            <h3><a href="#">C9计划·秋酷大趴 │ 一次特殊的外太空旅行一次特殊的外太空旅行</a></h3>
                            <div><span>2017-05-06 13:06:09</span><span style="float: right;">预览&nbsp;156</span></div>
                        </div>
                    </div>
                    <div class="yj_word">
                        一个月前，适逢植树节期间，蚂蜂窝携手银杏基金会共同举办公益活动【梭梭行动】，讲述了一个保卫家乡，植树十年的当代苏武老马哥的故事，号召靠谱有爱的蜂蜂们加入到植树防沙，捍卫民勤的环保事业中。回顾一下活动时的热烈场景吧
                    </div>
                </div>
            </li>
        </ul>
    </div>
