<script type="text/javascript">$("title").html('TA的点评');</script>
    <style>
        body{background-color: #efefef;}
        #zj{margin-top: 20px;width: 682px;margin-left: 18px;}
        .zj_list{margin-left: 1px;margin-right: 1px;}
        .zj_list>li{position: relative;margin-bottom: 6px;}
        .zj_title{background-color: rgba(0,0,0,0.5);color: #ffffff;font-size: 22px;line-height:30px;padding-left: 12px;
            position: absolute;left: 0;bottom:0px;width: 668px;}
    </style>
<div id="zj" class="w682">
    <ul class="zj_list">
        <li>
            <a href="#">
                <div class="zj_img">
                    <img style="vertical-align: bottom" src="{$config['view_public']}img/yj_img.jpeg">
                </div>
                <div class="zj_title">桃花沟风景区</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="zj_img">
                    <img style="vertical-align: bottom" src="{$config['view_public']}img/yj_img.jpeg">
                </div>
                <div class="zj_title">桃花沟风景区</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="zj_img">
                    <img style="vertical-align: bottom" src="{$config['view_public']}img/yj_img.jpeg">
                </div>
                <div class="zj_title">桃花沟风景区</div>
            </a>
        </li>
    </ul>
</div>