<script type="text/javascript">$("title").html('TA的点评');</script>
    <style>
        body{background-color: #efefef;}
        #dp{margin-top: 20px;width: 682px;margin-left: 18px;}
        .dp_list{margin-left: 1px;margin-right: 1px;}
        .dp_list>li{padding: 10px;background-color: #ffffff;margin-bottom: 1px;}
        .dp_img{float: left;width: 120px;margin-right: 20px;}
        .dp_info{float: left;width: 520px;}
        .dp_name a{color: #ff9d00;font-size: 20px;line-height: 36px;font-weight: 400;}
        .dp_name a:hover{text-decoration: underline;}
        .rating{color: #ff9d00;font-size: 20px;}
        .dp_content{color: #666666;padding-bottom: 12px;}
        .dp_meta{text-align: right;color: #999999;font-size: 12px;}
    </style>
<div id="dp" class="w682">
    <ul class="dp_list">
        <li class="clearfix">
            <div class="dp_img">
                <a href=""><img style="vertical-align: bottom" src="{$config['view_public']}img/tx.jpeg"></a>
            </div>
            <div class="dp_info">
                <h3 class="dp_name"><a href="#">拜县夜市</a></h3>
                <div class="rating">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
                </div>
                <div class="dp_content">
                    一个月前，适逢植树节期间，蚂蜂窝携手银杏基金会共同举办公益活动【梭梭行动】，讲述了一个保卫家乡，植树十年的当代苏武老马哥的故事，号召靠谱有爱的蜂蜂们加入到植树防沙，捍卫民勤的环保事业中。回顾一下活动时的热烈场景吧
                </div>
                <div class="dp_meta">2017-05-06 16:20:30</div>
            </div>
        </li>
        <li class="clearfix">
            <div class="dp_img">
                <a href=""><img style="vertical-align: bottom" src="{$config['view_public']}img/tx.jpeg"></a>
            </div>
            <div class="dp_info">
                <h3 class="dp_name"><a href="#">拜县夜市</a></h3>
                <div class="rating">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
                </div>
                <div class="dp_content">
                    一个月前，适逢植树节期间，蚂蜂窝携手银杏基金会共同举办公益活动【梭梭行动】，讲述了一个保卫家乡，植树十年的当代苏武老马哥的故事，号召靠谱有爱的蜂蜂们加入到植树防沙，捍卫民勤的环保事业中。回顾一下活动时的热烈场景吧
                </div>
                <div class="dp_meta">2017-05-06 16:20:30</div>
            </div>
        </li>
        <li class="clearfix">
            <div class="dp_img">
                <a href=""><img style="vertical-align: bottom" src="{$config['view_public']}img/tx.jpeg"></a>
            </div>
            <div class="dp_info">
                <h3 class="dp_name"><a href="#">拜县夜市</a></h3>
                <div class="rating">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
                </div>
                <div class="dp_content">
                    一个月前，适逢植树节期间，蚂蜂窝携手银杏基金会共同举办公益活动【梭梭行动】，讲述了一个保卫家乡，植树十年的当代苏武老马哥的故事，号召靠谱有爱的蜂蜂们加入到植树防沙，捍卫民勤的环保事业中。回顾一下活动时的热烈场景吧
                </div>
                <div class="dp_meta">2017-05-06 16:20:30</div>
            </div>
        </li>
    </ul>
</div>