<script type="text/javascript">$("title").html('TA的点评');</script>
    <style>
        body{background-color: #efefef;}
        #dp{margin-top: 20px;width: 682px;margin-left: 18px;}
        .sortMode{border-bottom: 1px solid #ddd;}
        .sortMode a{line-height: 32px;margin: 0 10px;}
        .sortMode a.current{color: #ff9d00;}
        .jb_list{border: 1px solid #ddd;margin-top: 10px;background-color: #fff;}
        .jb_list>li li{float: left;line-height: 32px;}
        .jb_list>li:first-child li{border-bottom: 1px solid #ddd;}
        .jb_list ul li{}
        .jb_list ul li:first-child{width: 280px;padding-left: 20px;}
        .jb_list ul li:nth-child(n+2){width: 95px;text-align: center;}

    </style>
<div id="dp" class="w682">
    <div class="sortMode"><a class="current" href="#">TA关注的</a><a href="#">TA参加的</a></div>
    <ul class="jb_list">
        <li>
            <ul class="clearfix">
                <li>计划名称</li>
                <li>出发地</li>
                <li>目的地</li>
                <li>出发时间</li>
                <li>发布时间</li>
            </ul>
        </li>
        <li>
            <ul class="clearfix">
                <li><a href="#">高加索三国 6月结伴游</a></li>
                <li>深圳</li>
                <li>北京</li>
                <li>2016-09-21</li>
                <li>2016-09-21</li>
            </ul>
        </li>
        <li>
            <ul class="clearfix">
                <li><a href="#">高加索三国 6月结伴游</a></li>
                <li>深圳</li>
                <li>北京</li>
                <li>2016-09-21</li>
                <li>2016-09-21</li>
            </ul>
        </li>
        <li>
            <ul class="clearfix">
                <li><a href="#">高加索三国 6月结伴游</a></li>
                <li>深圳</li>
                <li>北京</li>
                <li>2016-09-21</li>
                <li>2016-09-21</li>
            </ul>
        </li>
    </ul>
</div>