<script type="text/javascript">$("title").html('TA的点评');</script>
    <style>
        body{background-color: #efefef;}
        #wd{margin-top: 20px;width: 682px;margin-left: 18px;}
        .wd_list{margin-left: 1px;margin-right: 1px;}
        .wd_list>li{padding: 10px 30px 10px 30px;background-color: #ffffff;margin-bottom: 1px;}
        .wd_title a{color: #333;font-size: 20px;line-height: 36px;}
        .wd_title a:hover{color: #ff9d00;}
        .wd_desc{color: #666666;}
        .wd_meta{text-align: right;color: #999999;font-size: 12px;}
    </style>
    <div id="wd" class="w682">
        <ul class="wd_list">
            <li>
                <div class="wd_title"><a href="#">我们能抵达的「世界尽头」究竟在哪？</a></div>
                <div class="wd_desc">
                    一个月前，适逢植树节期间，蚂蜂窝携手银杏基金会共同举办公益活动【梭梭行动】，讲述了一个保卫家乡，植树十年的当代苏武老马哥的故事，号召靠谱有爱的蜂蜂们加入到植树防沙，捍卫民勤的环保事业中。回顾一下活动时的热烈场景吧
                </div>
                <div class="wd_meta">139评论&nbsp;&nbsp;2017-03-25 19:06</div>
            </li>
            <li>
                <div class="wd_title"><a href="#">我们能抵达的「世界尽头」究竟在哪？</a></div>
                <div class="wd_desc">
                    一个月前，适逢植树节期间，蚂蜂窝携手银杏基金会共同举办公益活动【梭梭行动】，讲述了一个保卫家乡，植树十年的当代苏武老马哥的故事，号召靠谱有爱的蜂蜂们加入到植树防沙，捍卫民勤的环保事业中。回顾一下活动时的热烈场景吧
                </div>
                <div class="wd_meta">139评论&nbsp;&nbsp;2017-03-25 19:06</div>
            </li>
            <li>
                <div class="wd_title"><a href="#">我们能抵达的「世界尽头」究竟在哪？</a></div>
                <div class="wd_desc">
                    一个月前，适逢植树节期间，蚂蜂窝携手银杏基金会共同举办公益活动【梭梭行动】，讲述了一个保卫家乡，植树十年的当代苏武老马哥的故事，号召靠谱有爱的蜂蜂们加入到植树防沙，捍卫民勤的环保事业中。回顾一下活动时的热烈场景吧
                </div>
                <div class="wd_meta">139评论&nbsp;&nbsp;2017-03-25 19:06</div>
            </li>
        </ul>
    </div>