<script type="text/javascript">$("title").html('TA的点评');</script>
    <style>
        body{background-color: #efefef;}
        #yj{margin-top: 20px;width: 682px;margin-left: 18px;}
        .yj_list{margin-left: 1px;margin-right: 1px;margin-top: 12px;background-color: #ffffff;}
        .yj_list>li{padding-bottom: 30px;}
        .yj_list .yj_info{padding: 10px 30px 0 30px;}
        .yj_list .yj_title>.title_info{width: 500px;float: left;}
        .yj_list .yj_title>.zan{float: right;text-align: center;color: #999999;}
        .yj_list .yj_title>.zan:hover{cursor: pointer;}
        .yj_list .yj_title>.zan:hover i{color: #ff8a00;}
        .title_info h3 a{font-size: 18px;color: #ff8a00;}
        .title_info h3 a:hover{text-decoration: underline;}
        .title_info div{margin-top: 10px;color: #999;}
        .yj_word{color: #666666;margin-top: 12px;}
    </style>
    <div id="yj" class="w682">
        <ul class="yj_list">
            <li>
                <div class="yj_img"><a><img src="{$config['view_public']}img/yj_img.jpeg"></a></div>
                <div class="yj_info">
                    <div class="yj_title clearfix">
                        <div class="zan"><i class="fa fa-thumbs-o-up" style="font-size: 30px;"></i><p>999</p></div>
                        <div class="title_info">
                            <h3><a href="#">C9计划·秋酷大趴 │ 一次特殊的外太空旅行一次特殊的外太空旅行</a></h3>
                            <div><span>2017-05-06 13:06:09</span><span style="float: right;">预览&nbsp;156</span></div>
                        </div>
                    </div>
                    <div class="yj_word">
                        一个月前，适逢植树节期间，蚂蜂窝携手银杏基金会共同举办公益活动【梭梭行动】，讲述了一个保卫家乡，植树十年的当代苏武老马哥的故事，号召靠谱有爱的蜂蜂们加入到植树防沙，捍卫民勤的环保事业中。回顾一下活动时的热烈场景吧
                    </div>
                </div>
            </li>
            <li>
                <div class="yj_img"><a><img src="{$config['view_public']}img/yj_img.jpeg"></a></div>
                <div class="yj_info">
                    <div class="yj_title clearfix">
                        <div class="zan"><i class="fa fa-thumbs-o-up" style="font-size: 30px;"></i><p>999</p></div>
                        <div class="title_info">
                            <h3><a href="#">C9计划·秋酷大趴 │ 一次特殊的外太空旅行一次特殊的外太空旅行</a></h3>
                            <div><span>2017-05-06 13:06:09</span><span style="float: right;">预览&nbsp;156</span></div>
                        </div>
                    </div>
                    <div class="yj_word">
                        一个月前，适逢植树节期间，蚂蜂窝携手银杏基金会共同举办公益活动【梭梭行动】，讲述了一个保卫家乡，植树十年的当代苏武老马哥的故事，号召靠谱有爱的蜂蜂们加入到植树防沙，捍卫民勤的环保事业中。回顾一下活动时的热烈场景吧
                    </div>
                </div>
            </li>
            <li>
                <div class="yj_img"><a><img src="{$config['view_public']}img/yj_img.jpeg"></a></div>
                <div class="yj_info">
                    <div class="yj_title clearfix">
                        <div class="zan"><i class="fa fa-thumbs-o-up" style="font-size: 30px;"></i><p>999</p></div>
                        <div class="title_info">
                            <h3><a href="#">C9计划·秋酷大趴 │ 一次特殊的外太空旅行一次特殊的外太空旅行</a></h3>
                            <div><span>2017-05-06 13:06:09</span><span style="float: right;">预览&nbsp;156</span></div>
                        </div>
                    </div>
                    <div class="yj_word">
                        一个月前，适逢植树节期间，蚂蜂窝携手银杏基金会共同举办公益活动【梭梭行动】，讲述了一个保卫家乡，植树十年的当代苏武老马哥的故事，号召靠谱有爱的蜂蜂们加入到植树防沙，捍卫民勤的环保事业中。回顾一下活动时的热烈场景吧
                    </div>
                </div>
            </li>
        </ul>
    </div>