<link rel="stylesheet" href="{$config['view_public']}css/user/user_cz.css">
<script type="text/javascript">$("title").html('会员充值');</script>

    <div class="R">
        <div class="sortMode"><a href="#">会员充值</a></div>
        <div class="czB">
            <div style="text-align: center;">
            <form action="" method="post">
                <input type="text" name="v" id="v" placeholder="输入充值金额"><input type="submit" value="立即充值">
            </form>
            </div>
            <ul class="djList">
                <li><i class="fa fa-question-circle"></i>&nbsp;&nbsp;会员等级介绍</li>
                <li data-v="1000">VIP1 1000元</li>
                <li data-v="2000">VIP2 2000元</li>
                <li data-v="3000">VIP3 3000元</li>
                <li data-v="4000">VIP4 4000元</li>
                <li data-v="5000">VIP5 5000元</li>
                <li data-v="6000">VIP6 6000元</li>
                <li data-v="7000">VIP6 7000元</li>
            </ul>
            <div class="gz">
                <h3>会员规则</h3>
                <dl>
                    <dd>1.机票下单前，请仔细阅读商品详情（价格包含/不含、预定须知、退款政策等），如有疑问可致电商家客服咨询。</dd>
                    <dd>2.订购机票产品，请正确填写个人信息。您的支付时间为下单后60分钟内，请及时支付。如遇到支付问题，可与穷游网（即北京最世界国际旅行社有限公司）客服联系，穷游网（即北京最世界国际旅行社有限公司）客服将会协助您解决遇到的问题。</dd>
                    <dd>3.机票下单预订后，商家会在1个工作日内与您联系并确认出行信息。</dd>
                    <dd>4.穷游网（即北京最世界国际旅行社有限公司）有独立于商家的质控体系，任何商家违约，用户都会获得合理赔偿。具体详见“机票产品保障条例”。</dd>
                    <dd>5.为了不耽误您的行程，请您在国际航班起飞前120分钟到达机场办理登机以及出入境相关手续；如涉及海外国内段行程，请您在航班起飞前60分钟到达机场办理登机手续。</dd>
                    <dd>6.因不可抗力的客观原因（如天灾、战争、罢工等）或航空公司自身问题导致的航班延误或取消，商家将在您提供证明的情况下，根据实际情况，为您全额或部分退款。</dd>
                </dl>
            </div>
        </div>
    </div>


<script>
    $(function() {
        //显示/隐藏 上传图片 按钮
        $(".u_banner").hover(function(){
            $("#btn_upload_img").show();
        },function(){
            $("#btn_upload_img").hide();
        });
        //右侧顶部导航点击
        $("#nav>li").click(function(){
            //alert(1);
            $("#nav>.current").removeClass();
            $(this).addClass("current");
        });
        //选择充值的金额
        $(".djList>li:nth-child(n+2)").click(function(){
            var v = $(this).attr("data-v");
            //TODO
        });
    });
</script>