<include file="Public/header"/>
<link rel="stylesheet" href="{$config['view_public']}css/district/dist_generalize.css">
<script type="text/javascript">$("title").html('目的地城市');</script>
</head>
<body>
<include file="Public/top_2"/>
<include file="Public/dist_top"/>
<!--主体区 start-->
<div class="generalize_C w980 clearfix">
    <!--1-->
    <div class="L">
        <div class="catalog">
            <dl>
                <dt><a href="#c_1">目的地概况</a></dt>
                <dd><a href="#c_1_1">目的地速写</a></dd>
                <dd><a href="#c_1_2">当地人生活</a></dd>
                <dd><a href="#c_1_3">信仰与禁忌</a></dd>
                <dd><a href="#c_1_4">历史</a></dd>
                <dd><a href="#">环境</a></dd>
                <dd><a href="#">书籍推荐</a></dd>
                <dd><a href="#">电影推荐</a></dd>
                <dd><a href="#">语言帮助</a></dd>
            </dl>
        </div>
    </div>
    <!--1/-->
    <div class="R">
        <ul class="g_content">
            <li>
                <h2><a name="c_1">目的地概况</a></h2>
                <ul>
                    <li>
                        <h3><a name="c_1_1">目的地速写</a></h3>
                        <div>
                            <p>尼泊尔（Nepal）是全世界旅行者心中最重要的旅行目的地之一。在加德满都、帕坦、巴克塔普尔三个古国，遗留了许多世界一流的文化遗产，包括杜巴广场、猴庙、帕斯帕提那神庙（烧尸庙）、博大哈佛塔等。</p>
                            <p>尼泊尔也是徒步者的天堂，博卡拉周边和珠峰地区提供许多成熟徒步路线。尼泊尔还是激流漂流、滑翔伞等运动的天堂。在皇家奇特旺国家公园，旅行者可以在这里探索孟加拉虎和野生犀牛。尼泊尔自然和人文景观的多样性，尼泊尔人的热情友好，都会给游人留下最难忘的经历。</p>
                            <p>当地语言:  尼泊尔语</p>
                            <br />
                            <img src="{$config['view_public']}img/tx.jpeg" width="100%" height="200px">
                            <br />
                        </div>
                    </li>
                    <li>
                        <h3><a name="c_1_2">目的地速写</a></h3>
                        <div>
                            <p>尼泊尔（Nepal）是全世界旅行者心中最重要的旅行目的地之一。在加德满都、帕坦、巴克塔普尔三个古国，遗留了许多世界一流的文化遗产，包括杜巴广场、猴庙、帕斯帕提那神庙（烧尸庙）、博大哈佛塔等。</p>
                            <p>尼泊尔也是徒步者的天堂，博卡拉周边和珠峰地区提供许多成熟徒步路线。尼泊尔还是激流漂流、滑翔伞等运动的天堂。在皇家奇特旺国家公园，旅行者可以在这里探索孟加拉虎和野生犀牛。尼泊尔自然和人文景观的多样性，尼泊尔人的热情友好，都会给游人留下最难忘的经历。</p>
                            <p>当地语言:  尼泊尔语</p>
                            <br />
                            <img src="{$config['view_public']}img/tx.jpeg" width="100%" height="200px">
                            <br />
                        </div>
                    </li>
                    <li>
                        <h3><a name="c_1_3">目的地速写</a></h3>
                        <div>
                            <p>尼泊尔（Nepal）是全世界旅行者心中最重要的旅行目的地之一。在加德满都、帕坦、巴克塔普尔三个古国，遗留了许多世界一流的文化遗产，包括杜巴广场、猴庙、帕斯帕提那神庙（烧尸庙）、博大哈佛塔等。</p>
                            <p>尼泊尔也是徒步者的天堂，博卡拉周边和珠峰地区提供许多成熟徒步路线。尼泊尔还是激流漂流、滑翔伞等运动的天堂。在皇家奇特旺国家公园，旅行者可以在这里探索孟加拉虎和野生犀牛。尼泊尔自然和人文景观的多样性，尼泊尔人的热情友好，都会给游人留下最难忘的经历。</p>
                            <p>当地语言:  尼泊尔语</p>
                            <br />
                            <img src="{$config['view_public']}img/tx.jpeg" width="100%" height="200px">
                            <br />
                        </div>
                    </li>
                    <li>
                        <h3><a name="c_1_4">目的地速写</a></h3>
                        <div>
                            <p>尼泊尔（Nepal）是全世界旅行者心中最重要的旅行目的地之一。在加德满都、帕坦、巴克塔普尔三个古国，遗留了许多世界一流的文化遗产，包括杜巴广场、猴庙、帕斯帕提那神庙（烧尸庙）、博大哈佛塔等。</p>
                            <p>尼泊尔也是徒步者的天堂，博卡拉周边和珠峰地区提供许多成熟徒步路线。尼泊尔还是激流漂流、滑翔伞等运动的天堂。在皇家奇特旺国家公园，旅行者可以在这里探索孟加拉虎和野生犀牛。尼泊尔自然和人文景观的多样性，尼泊尔人的热情友好，都会给游人留下最难忘的经历。</p>
                            <p>当地语言:  尼泊尔语</p>
                            <br />
                            <img src="{$config['view_public']}img/tx.jpeg" width="100%" height="200px">
                            <br />
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--主体区 end-->
<include file="Public/footer"/>
<script>
    $(function() {
        // 滚动条滚动的函数
        $(window).scroll(function(){
            var top = $(document.body).scrollTop();
            var height = document.body.scrollHeight;
            var windowHeight = $(this).height();
            // 滚动条距底部距离
            var bottom = height-top-windowHeight;
            // 底部的高度
            var footerHeight = $("#footer").innerHeight();
            top = top<210?210-top:0;
            $(".catalog").css("top",top);

            bottom = bottom<footerHeight?footerHeight-bottom:0;
            console.log(bottom);
            $(".catalog").css("bottom",bottom);
        });
    });
</script>
</body>
</html>