<include file="Public/header"/>
<link rel="stylesheet" href="{$config['view_public']}css/district/dist_hotel.css">
<script type="text/javascript">$("title").html('特惠酒店');</script>
</head>
<body>
<include file="Public/top_2"/>
<include file="Public/dist_top"/>
<!--主体区 start-->
<div class="C w980 clearfix">
    <!--1-->
    <div class="L">
        <div class="sortMode"><a class="current" href="#">推荐</a><a href="#">人气</a></div>
        <ul class="travelList">
            <li>
                <a class="pic" href="#"><img src="{$config['view_public']}img/tx.jpeg" width="227" height="150"></a>
                <div class="info">
                    <h3><a href="#">埃尔坦博马丘比丘酒店</a></h3>
                    <div class="desc">
                        El Tambo Machupicchu旅馆距离主广场有3分钟的步行路程，提供带免费无线网络连接的住宿。 每间客房均设有一间带吹风机的私人浴室以及一台有线电视。客房亦享有城市和山...
                    </div>
                    <div class="price">参考价格：￥999.00元</div>
                </div>
            </li>
            <li>
                <a class="pic" href="#"><img src="{$config['view_public']}img/tx.jpeg" width="227" height="150"></a>
                <div class="info">
                    <h3><a href="#">埃尔坦博马丘比丘酒店</a></h3>
                    <div class="desc">
                        El Tambo Machupicchu旅馆距离主广场有3分钟的步行路程，提供带免费无线网络连接的住宿。 每间客房均设有一间带吹风机的私人浴室以及一台有线电视。客房亦享有城市和山...
                    </div>
                    <div class="price">参考价格：￥999.00元</div>
                </div>
            </li>
            <li>
                <a class="pic" href="#"><img src="{$config['view_public']}img/tx.jpeg" width="227" height="150"></a>
                <div class="info">
                    <h3><a href="#">埃尔坦博马丘比丘酒店</a></h3>
                    <div class="desc">
                        El Tambo Machupicchu旅馆距离主广场有3分钟的步行路程，提供带免费无线网络连接的住宿。 每间客房均设有一间带吹风机的私人浴室以及一台有线电视。客房亦享有城市和山...
                    </div>
                    <div class="price">参考价格：￥999.00元</div>
                </div>
            </li>
        </ul>
    </div>
    <!--1/-->
    <!--2-->
    <div class="R">
    </div>
    <!--2/-->
</div>
<!--主体区 end-->
<include file="Public/footer"/>
<script>
    $(function() {
    });
</script>
</body>
</html>