<include file="Public/header"/>
<link rel="stylesheet" href="{$config['view_public']}css/district/hot_travel.css">
<script type="text/javascript">$("title").html('热门景点');</script>
</head>
<body>
<include file="Public/top_2"/>
<include file="Public/dist_top"/>
<!--主体区 start-->
<div class="C w980 clearfix">
    <!--1-->
    <div class="L">
        <div class="sortMode"><a class="current" href="#">推荐</a><a href="#">人气</a></div>
        <ul class="travelList">
            <li>
                <a class="pic" href="#"><img src="{$config['view_public']}img/tx.jpeg" width="227" height="150"></a>
                <div class="info">
                    <h3><a href="#">东京迪士尼度假区<span>&nbsp;&nbsp;Tokyo Disney Resort</span></a></h3>
                    <div class="desc">
                        算是马丘比丘里面的一个代表性建筑了，这个建在一个小型洞穴顶部的神庙是古印加人对天文和建筑学造诣的最佳代表。呈半圆形，由...
                    </div>
                </div>
                <div class="zk"><i class="fa fa-star"></i>
                    <span>优选折扣:</span>
                    <a href="#">【世外桃源】秘鲁马丘比丘一日游 (库斯科往返)</a>
                </div>
            </li>
            <li>
                <a class="pic" href="#"><img src="{$config['view_public']}img/tx.jpeg" width="227" height="150"></a>
                <div class="info">
                    <h3><a href="#">东京迪士尼度假区<span>&nbsp;&nbsp;Tokyo Disney Resort</span></a></h3>
                    <div class="desc">
                        算是马丘比丘里面的一个代表性建筑了，这个建在一个小型洞穴顶部的神庙是古印加人对天文和建筑学造诣的最佳代表。呈半圆形，由...
                    </div>
                </div>
            </li>
            <li>
                <a class="pic" href="#"><img src="{$config['view_public']}img/tx.jpeg" width="227" height="150"></a>
                <div class="info">
                    <h3><a href="#">东京迪士尼度假区<span>&nbsp;&nbsp;Tokyo Disney Resort</span></a></h3>
                    <div class="desc">
                        算是马丘比丘里面的一个代表性建筑了，这个建在一个小型洞穴顶部的神庙是古印加人对天文和建筑学造诣的最佳代表。呈半圆形，由...
                    </div>
                </div>
                <div class="zk"><i class="fa fa-star"></i>
                    <span>优选折扣:</span>
                    <a href="#">【世外桃源】秘鲁马丘比丘一日游 (库斯科往返)</a>
                </div>
                <div class="zk"><i class="fa fa-star"></i>
                    <span>优选折扣:</span>
                    <a href="#">【世外桃源】秘鲁马丘比丘一日游 (库斯科往返)</a>
                </div>
            </li>
        </ul>
    </div>
    <!--1/-->
    <!--2-->
    <div class="R">
    </div>
    <!--2/-->
</div>
<include file="Public/footer"/>
<!--主体区 end-->
<script>
    $(function() {
    });
</script>
</body>
</html>