<include file="Public/header"/>
<link rel="stylesheet" href="{$config['view_public']}css/district/district.css">
<script type="text/javascript">$("title").html('目的地_主页');</script>
</head>
<body>
    <include file="Public/top"/>
    <div id="center" class="w980">
        <div class="recommend">
            <div class="rec_top clearfix">
                <h2>探索精彩世界</h2>
                <ul class="rec_nav">
                    <li class="current" data-i="1">神秘遗址</li>
                    <li data-i="2">玩转日本</li>
                    <li data-i="3">最爱小镇</li>
                    <li data-i="4">跳蚤市集</li>
                    <li data-i="5">魅力夜色</li>
                    <li data-i="6">怀旧时光</li>
                </ul>
            </div>
            <div class="rec_list">
                <!--192*200-->
                <ul style="left:0px;" data-i="1" class="">
                    <li class="item1">
                        <a href="#">
                            <img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg">
                            <h3>五渔村</h3>
                            <div>
                                <p>五渔村</p>
                                <p>秘鲁的马丘比丘古城是已知保存最好的遗迹，它也是世界各地旅行者所关注的焦点。它曾一度被人们所遗忘，1911年被一位名为海勒姆-宾汉姆的考古学家再次发现。</p>
                            </div>
                        </a>

                    </li>
                    <li class="item2">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg">
                            <h3>五渔村</h3>
                            <div>
                                <p>五渔村</p>
                                <p>秘鲁的马丘比丘古城是已知保存最好的遗迹，它也是世界各地旅行者所关注的焦点。它曾一度被人们所遗忘，1911年被一位名为海勒姆-宾汉姆的考古学家再次发现。</p>
                            </div></a>
                    </li>
                    <li class="item3">
                        <a href="#"><img width="192px" height="405px" src="{$config['view_public']}img/192x405.jpg">
                            <h3>五渔村</h3>
                            <div>
                                <p>五渔村</p>
                                <p>秘鲁的马丘比丘古城是已知保存最好的遗迹，它也是世界各地旅行者所关注的焦点。它曾一度被人们所遗忘，1911年被一位名为海勒姆-宾汉姆的考古学家再次发现。</p>
                            </div></a>
                    </li>
                    <li class="item4">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"><h3>五渔村</h3>
                            <div>
                                <p>五渔村</p>
                                <p>秘鲁的马丘比丘古城是已知保存最好的遗迹，它也是世界各地旅行者所关注的焦点。它曾一度被人们所遗忘，1911年被一位名为海勒姆-宾汉姆的考古学家再次发现。</p>
                            </div></a>
                    </li>
                    <li class="item5">
                        <a href="#"><img width="192px" height="405px" src="{$config['view_public']}img/192x405.jpg"><h3>五渔村</h3>
                            <div>
                                <p>五渔村</p>
                                <p>秘鲁的马丘比丘古城是已知保存最好的遗迹，它也是世界各地旅行者所关注的焦点。它曾一度被人们所遗忘，1911年被一位名为海勒姆-宾汉姆的考古学家再次发现。</p>
                            </div></a>
                    </li>
                    <li class="item6">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"><h3>五渔村</h3>
                            <div>
                                <p>五渔村</p>
                                <p>秘鲁的马丘比丘古城是已知保存最好的遗迹，它也是世界各地旅行者所关注的焦点。它曾一度被人们所遗忘，1911年被一位名为海勒姆-宾汉姆的考古学家再次发现。</p>
                            </div></a>
                    </li>
                    <li class="item7">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"><h3>五渔村</h3>
                            <div>
                                <p>五渔村</p>
                                <p>秘鲁的马丘比丘古城是已知保存最好的遗迹，它也是世界各地旅行者所关注的焦点。它曾一度被人们所遗忘，1911年被一位名为海勒姆-宾汉姆的考古学家再次发现。</p>
                            </div></a>
                    </li>
                    <li class="item8">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"><h3>五渔村</h3>
                            <div>
                                <p>五渔村</p>
                                <p>秘鲁的马丘比丘古城是已知保存最好的遗迹，它也是世界各地旅行者所关注的焦点。它曾一度被人们所遗忘，1911年被一位名为海勒姆-宾汉姆的考古学家再次发现。</p>
                            </div></a>
                    </li>
                    <li class="item9">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"><h3>五渔村</h3>
                            <div>
                                <p>五渔村</p>
                                <p>秘鲁的马丘比丘古城是已知保存最好的遗迹，它也是世界各地旅行者所关注的焦点。它曾一度被人们所遗忘，1911年被一位名为海勒姆-宾汉姆的考古学家再次发现。</p>
                            </div></a>
                    </li>
                    <li class="item10">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"><h3>五渔村</h3>
                            <div>
                                <p>五渔村</p>
                                <p>秘鲁的马丘比丘古城是已知保存最好的遗迹，它也是世界各地旅行者所关注的焦点。它曾一度被人们所遗忘，1911年被一位名为海勒姆-宾汉姆的考古学家再次发现。</p>
                            </div></a>
                    </li>
                </ul>
                <ul style="left:980px;" data-i="2" class="">
                    <li class="item1">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                    <li class="item2">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item3">
                        <a href="#"><img width="192px" height="405px" src="{$config['view_public']}img/192x405.jpg"></a>
                    </li>
                    <li class="item4">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item5">
                        <a href="#"><img width="192px" height="405px" src="{$config['view_public']}img/192x405.jpg"></a>
                    </li>
                    <li class="item6">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                    <li class="item7">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item8">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item9">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item10">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                </ul>
                <ul style="left:980px;" data-i="3" class="">
                    <li class="item1">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                    <li class="item2">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item3">
                        <a href="#"><img width="192px" height="405px" src="{$config['view_public']}img/192x405.jpg"></a>
                    </li>
                    <li class="item4">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item5">
                        <a href="#"><img width="192px" height="405px" src="{$config['view_public']}img/192x405.jpg"></a>
                    </li>
                    <li class="item6">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                    <li class="item7">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item8">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item9">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item10">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                </ul>
                <ul style="left:980px;" data-i="4" class="">
                    <li class="item1">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                    <li class="item2">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item3">
                        <a href="#"><img width="192px" height="405px" src="{$config['view_public']}img/192x405.jpg"></a>
                    </li>
                    <li class="item4">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item5">
                        <a href="#"><img width="192px" height="405px" src="{$config['view_public']}img/192x405.jpg"></a>
                    </li>
                    <li class="item6">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                    <li class="item7">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item8">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item9">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item10">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                </ul>
                <ul style="left:980px;" data-i="5" class="">
                    <li class="item1">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                    <li class="item2">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item3">
                        <a href="#"><img width="192px" height="405px" src="{$config['view_public']}img/192x405.jpg"></a>
                    </li>
                    <li class="item4">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item5">
                        <a href="#"><img width="192px" height="405px" src="{$config['view_public']}img/192x405.jpg"></a>
                    </li>
                    <li class="item6">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                    <li class="item7">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item8">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item9">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item10">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                </ul>
                <ul style="left:980px;" data-i="6" class="">
                    <li class="item1">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                    <li class="item2">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item3">
                        <a href="#"><img width="192px" height="405px" src="{$config['view_public']}img/192x405.jpg"></a>
                    </li>
                    <li class="item4">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item5">
                        <a href="#"><img width="192px" height="405px" src="{$config['view_public']}img/192x405.jpg"></a>
                    </li>
                    <li class="item6">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                    <li class="item7">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item8">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item9">
                        <a href="#"><img width="192px" height="200px" src="{$config['view_public']}img/200x192.jpg"></a>
                    </li>
                    <li class="item10">
                        <a href="#"><img width="389px" height="200px" src="{$config['view_public']}img/388x200.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nation">
            <div class="nation_top clearfix">
                <h2>国家列表</h2>
                <ul class="nation_nav">
                    <li class="current" data-i="1">全部</li>
                    <li data-i="2">亚洲</li>
                    <li data-i="3">欧洲</li>
                    <li data-i="4">非洲</li>
                    <li data-i="5">北美</li>
                    <li data-i="6">南美</li>
                    <li data-i="7">大洋洲</li>
                    <li data-i="8">南极洲</li>
                </ul>
            </div>
            <div class="nation_list">
                <ul data-i="2">
                    <li><span class="z_title">亚洲 Asia</span><span style="color: #999;">&nbsp;(拼音首字母排序)</span></li>
                    <li>
                        <ul class="clearfix">
                            <li class="line1"></li>
                            <li class="line2"></li>
                            <li class="line3"></li>
                        </ul>
                    </li>

                </ul>
                <ul data-i="3">
                    <li><span class="z_title">欧洲 Europe</span><span style="color: #999;">&nbsp;(拼音首字母排序)</span></li>
                    <li>
                        <ul class="clearfix">
                            <li class="line1"></li>
                            <li class="line2"></li>
                            <li class="line3"></li>
                        </ul>
                    </li>
                </ul>
                <ul  data-i="4">
                    <li><span class="z_title">非洲 Africa</span><span style="color: #999;">&nbsp;(拼音首字母排序)</span></li>
                    <li>
                        <ul class="clearfix">
                            <li class="line1"></li>
                            <li class="line2"></li>
                            <li class="line3"></li>
                        </ul>
                    </li>
                </ul>
                <ul data-i="5">
                    <li><span class="z_title">北美 North America</span><span style="color: #999;">&nbsp;(拼音首字母排序)</span></li>
                    <li>
                        <ul class="clearfix">
                            <li class="line1"></li>
                            <li class="line2"></li>
                            <li class="line3"></li>
                        </ul>
                    </li>
                </ul>
                <ul data-i="6">
                    <li><span class="z_title">南美 South America</span><span style="color: #999;">&nbsp;(拼音首字母排序)</span></li>
                    <li>
                        <ul class="clearfix">
                            <li class="line1"></li>
                            <li class="line2"></li>
                            <li class="line3"></li>
                        </ul>
                    </li>
                </ul>
                <ul data-i="7">
                    <li><span class="z_title">大洋洲 Oceania</span><span style="color: #999;">&nbsp;(拼音首字母排序)</span></li>
                    <li>
                        <ul class="clearfix">
                            <li class="line1"></li>
                            <li class="line2"></li>
                            <li class="line3"></li>
                        </ul>
                    </li>
                </ul>
                <ul data-i="8">
                    <li><span class="z_title">南极洲 Antarctica</span><span style="color: #999;">&nbsp;(拼音首字母排序)</span></li>
                    <li>
                        <ul class="clearfix">
                            <li class="line1"></li>
                            <li class="line2"></li>
                            <li class="line3"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="{$config['view_public']}js/place.js"></script>
<include file="Public/footer"/>