<include file="Public/header"/>
<link rel="stylesheet" href="{$config['view_public']}css/district/join_jb.css">
<script type="text/javascript">$("title").html('参加结伴');</script>
</head>
<body>
<include file="Public/top_2"/>
    <!--顶部区域 start-->
    <div class="joinJbT" style="margin-bottom: -100px">
        <!--1-->
        <img src="{$config['view_public']}img/tx.jpeg" width="100%" height="360px">
        <div class="w980" style="position: relative;top: -100px;height: 100px;">
            <div id="plcName">
                <p><a href="#">Cinque terre</a></p>
                <p><a href="#">五渔村</a></p>
            </div>
        </div>
        <!--1/-->
    </div>
    <!--顶部区域 end-->
    <!--顶部区域2 start-->
    <div class="joinJbTmate" style="background-color: #fff;padding-bottom: 20px;border-bottom: 1px solid #d7d7d7;">
        <!--2-->
        <div style="width: 480px;margin: 0 auto;padding-top: 20px;">
            <div class="clearfix" style="width: 420px;margin: 0 auto;">
                <div class="btn-def" style="margin-right: 20px;"><a href="#" style="width: 160px;text-align: center;line-height: 42px;">我要报名</a></div>
                <div class="btn-def"><a href="#" style="width: 160px;text-align: center;line-height: 42px;">关注此结伴</a></div>
            </div>
            <ul class="clearfix matelist">
                <li>出发时间：2017-06-03</li>
                <li>大约：10天</li>
                <li>目的地：拉萨|林芝|新都桥</li>
                <li>出发地：成都</li>
                <li>希望人数：4人</li>
            </ul>
        </div>
        <!--2/-->
    </div>
    <!--顶部区域2 end-->
    <!--中间主体模块 start-->
    <div class="joinJbMain">
        <div class="joinJbmain w980">
            <!--3-->
            <div class="userInfo clearfix">
                <div><a><img class="tx" src="{$config['view_public']}img/tx.jpeg" width="100px"></a></div>
                <div>
                    <div class="userName"><a href="#">xiaom</a></div>
                    <div class="btn-def"><a href="#">关注</a></div>
                    <div class="btn-def" style="margin-left: 20px;"><a href="#">私信</a></div>
                </div>
            </div>
            <!--3/-->
            <!--4-->
            <div class="jbDesc">
                <h2>哥斯达黎加，巴拿马求结伴～</h2>
                <p>如标题，大四学生党想去西藏藏来个毕业旅行~已经做了很久很久很久很久的攻略了，就缺一起拼车一起浪的小伙伴啦！等你等得好苦啊TAT！如果感兴趣请私戳私戳蟹蟹！（微信：18818265557）</p>

                <p>【以下为行程，车已定~缺2人！男女不限~】</p>
                <p>【我们已经订好了各地的酒店，大家可以住一起，也可以根据各自预算分开住，吃饭一起吃就好~】</p>
                <p>【车费：丰田普拉多，9天10200，4人平均每人2550，很划算有没有，而且安全~注：此费用包含车费、油费、司机工资和住宿，不包含司机餐饮，司机吃饭和我们一起，饭费大家平摊】</p>
                <p>6月12日：早餐后从拉萨出发，途经岗巴拉山，羊湖，江孜古城，到达日喀则。晚上住日喀则。</p>
                <p>6月13日：早餐后从日喀则出发，途经雅鲁藏布江观景台，羊八井，念青唐古拉山，到达纳木错，晚上住纳木错。（纳木错住宿条件较差，由司机安排住宿，可以带着睡袋）</p>
                <p>6月14日：早晨出发前往藏北草原，然后经过那拉根山，返回拉萨。晚上住拉萨。</p>
                <p>6月15日：早餐后出发，途经米拉山口，到达巴松措。</p>
                <p>6月16日：早餐后出发，途经卡定沟，色拉季山，鲁朗林海，抵达鲁朗镇。</p>
                <p>6月17日：早餐后出发，途经古乡湖，米堆冰川，到达波密。</p>
                <p>6月18日：早餐后出发，途经江河汇流处，丹娘沙丘，雅鲁藏布大峡谷，到达米林县。晚上住在林芝。</p>
                <p>6月19日：早餐后出发，途经朗县，拉姆拉错，抵达加查。</p>
                <p>6月20日：早餐后出发，途经青浦修行地，桑耶寺。雅鲁藏布江，约下午4点抵达拉萨。住拉萨。</p>
                <img src="{$config['view_public']}img/tx.jpeg" width="100%" height="240px">
                <img src="{$config['view_public']}img/tx.jpeg" width="100%" height="240px">
            </div>
            <!--4/-->
            <!--5-->
            <div class="comment">
                <ul class="comment_list" style="color: #444;">
                    <for start="1" end="4">
                    <li>
                        <a href="#"><img class="tx" src="{$config['view_public']}img/tx.jpeg" width="60px"></a>
                        <div>
                            <div class="comment_mate">
                                <a href="#">浅浅快跑</a><span>2017-01-06 17:53</span>
                                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                            </div>
                            <div class="comment_content">
                                <p>皇后镇花园处于皇后镇市中心的对面，从湖的这边遥望着皇后镇的那些酒店，住宅，半山坡上的房子，会有不一样的感受。每个季节花园里的花儿都会争相开放，春季的郁金香，夏季的小兰花，玫瑰花，秋季冬季都会有五颜六色的花儿在花园里迎接着来自远方的客人！</p>
                            </div>
                        </div>
                    </li>
                    </for>
                </ul>
                <div id="comment">
                    <a href="#"><img class="tx" src="{$config['view_public']}img/tx.jpeg" width="60px"></a>
                    <div class="clearfix">
                        <div>
                            <textarea cols="30" rows="10" placeholder="说说你的疑问"></textarea>
                        </div>
                        <div id="commentStar" data-level="0"><i class="fa fa-star" data-v="1"></i><i class="fa fa-star"  data-v="2"></i><i class="fa fa-star"  data-v="3"></i><i class="fa fa-star"  data-v="4"></i><i class="fa fa-star"  data-v="5"></i>
                            <span class="hint">点击星星为它点评</span>
                        </div>
                        <div id="btn_sub">发布</div>
                    </div>
                </div>
            </div>
            <!--5/-->
        </div>
    </div>
    <!--中间主体模块 end-->

    <!--我要报名 start-->
    <div class="joinJbBm">
        <div class="joinJbbm">
            <h2>我要报名</h2>
            <form>
                <div class="bmForm">
                    <div>
                        <span>联系电话</span>
                        <input type="text">
                    </div>
                    <div>
                        <span>性别</span>
                        <input type="radio" checked="checked" name="gender" value="male" />&nbsp;男&nbsp;
                        <input type="radio" name="gender" value="female" />&nbsp;女
                        <!--<div style="display: inline-block;cursor: pointer;width: 20px;height: 20px;line-height:20px;background: #efefef;text-align: center;">男</div>-->
                        <!--<div style="display: inline-block;cursor: pointer;">女</div>-->
                    </div>
                    <div class="txrs">
                        <span>同行人数</span>
                        <input type="text">&nbsp;男（/人）<input type="text">&nbsp;女（/人）
                    </div>
                    <div class="txmd">
                        <span>同行名单</span>
                        <input type="text">
                    </div>
                    <div>
                        <span style="vertical-align: top">备注</span>
                        <textarea></textarea>
                    </div>
                    <div>
                        <span></span>
                        <div class="btn-def" style="display: inline-block;cursor: pointer;"><a>报名</a></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--我要报名 end-->
<include file="Public/footer"/>
<script src="Public/js/star.js"></script>
</body>
</html>