body{background-color: #fff;}
img{vertical-align: bottom;}
.w980{width: 980px;margin: auto;}
.mainc{color: #ff9d00;}
.tx{border-radius: 50%;}

.user_top{}
.u_banner{position: relative;}
#btn_upload_img{position: absolute;right: 30px;top: 10px;background-color: rgba(0,0,0,0.4);padding: 5px 20px;
    border-radius: 4px;color: #fff;cursor: pointer;}
#btn_upload_img:hover{background-color: rgba(0,0,0,0.5);}
.u_info{position: relative;}
.u_tx{position: absolute;top: -60px;}
.u_info .info{margin-left: 140px;}
.u_info .info>span{margin-right: 20px;line-height: 60px;}
.u_info .info>a{padding: 5px 10px;background-color: #ff9d00;margin-left: 10px;color: #fff;}
.u_info .info>a:hover{background-color: #ff8a00;}

.user_c{margin-top: 20px;}
.user_c>.L{float: left;width: 270px;}
.L .leftNav{width: 260px;background-color: #f8f8f8;}
.L .leftNav>li{border-bottom: 1px solid #e5e5e5;}
.L .leftNav>li:last-child{border-bottom: 0px solid #ddd;}
.L .leftNav>li>a{display: block;line-height: 42px;text-align: center;color: #666;}
.L .leftNav>li>a:hover{color: #ff9d00;background-color: #eee;}
.L .leftNav .current{border-left: 3px solid #ff8a00;}
.user_c>.R{float: right;width: 682px;}
.user_c>.R .sortMode{border-bottom: 1px solid #ddd;}
.user_c>.R .sortMode a{line-height: 32px;margin: 0 10px;}
.user_c>.R .sortMode a.current{color: #ff9d00;}
.R .data_list{margin-top: 10px;}
.R .data_list>li{padding-bottom:20px;margin-bottom:20px;border-bottom: 1px solid #efefef;}
.R .data_list>li:last-child{border-bottom: 0px solid #ddd;}


/*此为该页所有*/
.R .data_list .pic{float: right;}
.R .data_list .info{margin-right: 210px;}
.R .data_list .info>h3>a{line-height: 32px;font-size: 16px;font-weight: bold;}
.R .data_list .info>h3>a:hover{text-decoration: underline;}
.R .data_list .desc{padding-top: 10px;color: #444;min-height: 68px;}
.R .data_list .meta>span{float:right;padding-right: 10px;color: #666;}

