body{background-color: #fff;}
img{vertical-align: bottom;}
.w980{width: 980px;margin: auto;}
.mainc{color: #ff9d00;}
.tx{border-radius: 50%;}

.user_top{}
.u_banner{position: relative;}
#btn_upload_img{position: absolute;right: 30px;top: 10px;background-color: rgba(0,0,0,0.4);padding: 5px 20px;
    border-radius: 4px;color: #fff;cursor: pointer;}
#btn_upload_img:hover{background-color: rgba(0,0,0,0.5);}
.u_info{position: relative;}
.u_tx{position: absolute;top: -60px;}
.u_info .info{margin-left: 140px;}
.u_info .info>span{margin-right: 20px;line-height: 60px;}
.u_info .info>a{padding: 5px 10px;background-color: #ff9d00;margin-left: 10px;color: #fff;}
.u_info .info>a:hover{background-color: #ff8a00;}

.user_c{margin-top: 20px;}
.user_c>.L{float: left;width: 270px;}
.L .leftNav{width: 260px;background-color: #f8f8f8;}
.L .leftNav>li{border-bottom: 1px solid #e5e5e5;}
.L .leftNav>li:last-child{border-bottom: 0px solid #ddd;}
.L .leftNav>li>a{display: block;line-height: 42px;text-align: center;color: #666;}
.L .leftNav>li>a:hover{color: #ff9d00;background-color: #eee;}
.L .leftNav .current{border-left: 3px solid #ff8a00;}
.user_c>.R{float: right;width: 682px;}
.user_c>.R .sortMode{border-bottom: 1px solid #ddd;}
.user_c>.R .sortMode a{line-height: 32px;margin: 0 10px;}
.user_c>.R .sortMode a.current{color: #ff9d00;}



/*此为该页所有*/
.user_c>.R .sortMode{border-bottom: 0px solid #ddd;}
.czB{margin: 10px 50px;}
.czB input[type="text"]{height: 38px;width:100%;line-height: 38px;padding-left: 4px;color: #666;border-radius: 4px;outline: none;
    border: 2px solid #bbb;background-color:#fff;font-size: 18px;}
.czB input[type="submit"]{outline: none;border: none;background-color: #ff7466;margin-top: 10px;padding: 0 20px;line-height: 38px;
    color: #fff;cursor: pointer;}
.czB .djList{margin-top: 10px;}
.czB .djList>li:first-child{text-align: right;}
.czB .djList>li:nth-child(n+2){text-align: center;line-height: 38px;margin-top: 6px;border: 1px solid #ddd;cursor: pointer;}
.czB .djList>li:nth-child(n+2):hover{border: 1px solid #bbb;}
.czB .gz{margin-top: 20px;}
.czB .gz>h3{line-height: 32px;}





