body{background-color: #fff;}
img{vertical-align: bottom;}
.w820{width: 820px;margin: auto;}
.tx{border-radius: 50%;}
h1{font-size: 23px;font-weight: normal;}

.backB{line-height: 42px;padding: 0 0 0 50px;}
    .backB a{display:inline-block;width:30px;height:30px;line-height:30px;font-size: 18px;text-align: center;
        cursor: pointer;font-size: 18px;}
    .backB a:hover{background-color: #eee;}

.questionB{margin-top: 20px;border-bottom: 1px solid #ddd;padding-bottom: 20px;}
.questionB h1{margin-top: 20px;}
.questionB>div{margin-top: 10px;}
    .questionB>.userInfo{}
    .questionB>.userInfo>a.username{line-height: 30px;}
    .questionB>.userInfo>a.username:hover{color: #ff9d00;}
    .questionB>.qDesc{font-size: 16px;color: #444;}
    .questionB>.meta{line-height: 24px;}
    .questionB>.meta>span{color: #999;}
    .questionB>.meta>a{float: right;margin-right:10px;display: inline-block;background-color:#3f9f5f;color: #fff;padding: 0 10px;border-radius: 4px;
        cursor: pointer;}
    .questionB>.meta>a:hover{background-color: #5cad77;}


.commentList{color: #444;}
.commentList>li{border-top:1px solid #f5f5f5;padding-top: 20px;padding-bottom: 20px;}
.commentList>li:first-child{border-top:0px solid #f5f5f5;}
.commentList>li>a{float: left}
.commentList>li>div{margin-left: 80px;}
.commentList h3>a{font-size: 16px;line-height: 24px;}
.commentList h3>a:hover{text-decoration: underline;}
.comment_mate>span{color: #999;font-size: 12px;display: inline-block;margin-left: 30px;}
.comment_mate a{color: #999;font-size: 12px;}
.comment_mate a:hover{color: #ff9d00;text-decoration: underline}
.comment_content{margin-top: 12px;}

#comment{margin-top: 50px;}
#comment>a{float: left;}
#comment>div{margin-left: 80px;padding: 10px;border:1px solid #e5e5e5;border-radius: 5px;background-color: rgba(255,255,255,0.5);}
#comment>div>div:first-child{padding: 5px;border:1px solid #e5e5e5;border-radius: 5px;}
#comment textarea{width: 100%;height: 180px;resize: none;color: #666;line-height: 22px;outline: 0px;font-size: 12px;border: 0px;}
#comment #btn_sub{float: right;width: 120px;height: 40px;background-color: #3f9f5f;border-radius: 4px;text-align: center;line-height: 40px;cursor: pointer;color: #fff;margin-top: 10px;}
#comment #btn_sub:hover{background-color: #5cad77;}