.btn-def>a{display: inline-block;width: 60px;text-align:center;background-color: #ff9d00;
    color: #fff;line-height: 36px;border-radius: 4px;}
.btn-def a:hover{background-color: #ff8a00;}
.top{background-color: #eee;height: 42px;padding-top: 6px;}
.top>div{float: right;margin:0 10px;}
.top>span{float: right;line-height: 36px;padding-right: 10px;}

.C{padding-top: 50px;}
.C .editable{outline: none;}
.C .titInput{width: 596px;line-height: 32px;padding-left: 4px;color: #ff9d00;border-bottom: 1px solid #ff9d00;
    background-color:#fff;font-size: 21px;outline: 0;}
.C .contentInput{width: 596px;min-height: 180px;_height:180px;color: #666;border: 1px solid #ddd;outline: 0;padding-left: 4px;border:0px;}
.C .titInput p,.C .contentInput p{margin: 0px;}

#comment textarea{width: 100%;height: 180px;resize: none;color: #666;line-height: 22px;outline: 0px;font-size: 12px;border: 0px;}

